<div class="armata">
	<div id="mainbanner">
		<div id="flowbg">
			<%= image_tag 'flowlogo.png' %>
			<div id="makersday">
				<p>
					The <i>Makers' Get-Shit-Done</i> Day
				</p>
			</div>
			<p>
				<strong>Ven y termina tu proyecto creativo en 10 horas.</strong>
			</p>
			<p>
				<div class="container">
					<div class="row-fluid">
						<!-- Begin MailChimp Signup Form -->
								<div class="offset4 span6">
									<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
									<style type="text/css">
										#mc_embed_signup{background:transparent; clear:left; font:14px 'Armata', Helvetica,Arial,sans-serif; }
										/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
										   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
									</style>
									<div id="mc_embed_signup">
										<form action="http://rodrigotello.us7.list-manage.com/subscribe/post?u=5bde610d99628e23dfe04cf14&amp;id=cd3f5b2b2c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>					
											<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="correo" required>
										    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
										    <div style="position: absolute; left: -5000px;">
										    	<input type="text" name="b_5bde610d99628e23dfe04cf14_cd3f5b2b2c" value="">
										    </div>
											<div class="clear">
												<input type="submit" value="¡Quiero registrarme desde ya!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-danger">
											</div>
										</form>
									</div>
								</div>

						<!--End mc_embed_signup-->
					</div>
				</div>
			</p>
		</div>
	</div>
	<div class="albertoyrodrigo">
		<p>
			<center>
					<h2>Próximo Evento: 8 de marzo - Monterrey, NL</h2>
					<h4>Si quieres contactarnos para hacer este evento mejor, puedes escribirnos aquí:</h4>
					<h4>alberto@funkalab.com y rodrigo@funkalab.com</h4>
			</center>
		</p>
	</div>
</div>