<% provide(:title, 'F L O W') %>

</div>
<div class="armata">
<div id="mainbanner">
	<div id="flowbg">
		<div id="mbcontent">
			<%= image_tag 'flowlogo.png' %>
			<div class="makersday">
				<p>
					<br/>
					The <i>Makers Get-Shit-Done</i> Day
				</p>
			</div>
			<p>
				<strong>Ven y termina tu proyecto creativo en 10 horas.</strong>
					<p>
					<%= link_to '¡Genial! Quiero ir', 'http://flow.boletia.com', target: "_blank", class: 'btn btn-large btn-danger' %>
					</p>
			</p>
		</div>
	</div>
</div>
<div class="date">
	<center>
		<h2><i>Próximo Evento</i>: 22 de noviembre - CID (Centro de Innovación y Diseño) - UANL, Monterrey, NL</h2>
	</center>
</div>
<div class="bluebar">
	<center>
		<div class="littleline"></div>
		<h2>Proverbio chino: "Nadie te va a recordar por tus ideas".</h2>
		<div class="littleline"></div>
	</center>
</div>
<div id="que">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<br/>
				<p>
					 <center>
					 	<div class="textbox">
							<h2>FLOW es un un <strong>evento</strong> de un día dedicado a terminar tus proyectos personales junto a la <strong>comunidad de creativos</strong> en <i>Monterrey</i>: una animación, un cuento, un cómic, un cortometraje, un mix, un póster, tu portafolio, lo que sea.</h2>
						</div>
					</center>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="workshop">
	<div class="container">
		<div class="textbox">
			<p>
				<center>
					<div class="bigtypo">
						<strong>WORKSHOPS</strong>
					</div>
					<h2>Sé parte del aprendizaje colectivo. Asiste a talleres prácticos e intercambia conocimiento con otros creadores de la ciudad.</h2>
				</center>
			</p>
		</div>
	</div>
</div>
<div class="network">
	<div class="textbox3">
		<p>
			<center>
				<div class="bigtypo">
					<strong>NETWORK</strong>
				</div>
				<h2>Conecta con los makers locales. Profesionistas y estudiantes multidisciplinarios son parte de un evento único que incentiva la creación y el diálogo continuo.</h2>
			</center>
		</p>
	</div>
</div>
<div class="making">
	<div id="makingbg">
		<div class="container">
			<div class="textbox2">
				<p>
					<center>
						<div class="bigtypo">
							<strong>MAKING</strong>
						</div>
						<h2>Da el primer paso hacia tu gran idea. No importa si eres diseñador, artista, programador o un simple mortal con ganas de crear, este es el día para empezar.
						</h2>
					</center>
			</div>
		</div>
	</div>
</div>
<div id="ejemplos">
	<div class="container">
		<div class="row-fluid">
			<h2>
			  ¿Qué demonios puedo hacer en 10 horas?
			</h2>
			<br/>
					<div class="idea" id="idea-1">
	    				
	    				<h1>Haz una tipografía para la ciudad.</h1>
						    <a href="http://www.good.is/posts/can-a-font-help-a-city-make-a-comeback" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="one">¿Podrías darme una idea?</a>
					</div>

					<div class="idea hide" id="idea-2">
						    <h1>Empieza tu blog de fotografía.</h1>
						    <a href="http://www.streetartutopia.com/" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="two">Interesante... ¿Qué más?</a>
					</div>

					<div class="idea hide" id="idea-3">
						    <h1>Crea un stop-motion.</h1>
						    <a href="https://vimeo.com/11918221" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="three">¿Alguna otra idea?</a>
					</div>

					<div class="idea hide" id="idea-4">
						    <h1>Termina tu portafolio en línea.</h1>
						    <a href="http://coryschmitz.com/" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="four">¿Alguna otra idea?</a>
					</div>

					<div class="idea hide" id="idea-5">
						    <h1>Haz un fanzine.</h1>
						    <a href="http://www.flickr.com/photos/fanzinepaper/" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="five">¿Alguna otra idea?</a>
					</div>

					<div class="idea hide" id="idea-6">
						    <h1>Termina ese diseño para el concurso que viste.</h1>
						    <a href="http://www.krobarch.com/winners.asp?winner_year=2012" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="six">¿Alguna otra idea?</a>
					</div>

					<div class="idea hide" id="idea-7">
						    <h1>Aprende a usar un Arduino.</h1>
						    <a href="https://vimeo.com/38796545" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="seven">¿Alguna otra idea?</a>
					</div>

					<div class="idea hide" id="idea-8">
						    <h1>Comienza a dibujar el videojuego que quieres hacer.</h1>
						    <a href="http://www.retrothing.com/2010/06/original-pacman-design-sketches.html" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="eight">¿Alguna otra idea?</a>
					</div>

					<div class="idea hide" id="idea-9">
						    <h1>Escribe el guión para tu primer cortometraje.</h1>
						    <a href="https://vimeo.com/62092214" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="nine">¿Alguna otra idea?</a>
					</div>

					<div class="idea hide" id="idea-10">
						    <h1>Inicia ilustrando la portada de un libro.</h1>
						    <a href="http://www.behance.net/gallery/A-Bit-Lost/618897" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="ten">¿Alguna otra idea?</a>
					</div>

					<div class="idea hide" id="idea-11">
						    <h1>Haz un webcomic.</h1>
						    <a href="http://abaddoncomic.com/page-1/#comments" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="eleven">¿Qué más?</a>
					</div>

					<div class="idea hide" id="idea-12">
						    <h1>Crea tu identidad personal</h1>
						    <a href="http://www.behance.net/gallery/Personal-Identity/7913533" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="twelve">Dame otra idea</a>
					</div>
			<br/>
		</div>
	</div>
</div>
<div class="sabado subtledots">
	<p>
		<center>
			<h2>Ademas ¿tienes algo mejor que hacer el sábado?</h2>
			<p>
				<div class="btn btn-large disabled">
					Sí, quiero ver Breaking Bad
				</div>
				<%= link_to 'Nah, dame FLOW!', 'http://flow.boletia.com', target: "_blank", class: 'btn btn-large btn-info' %>
			</p>
		</center>
	</p>
</div>
<div id="moreinfo">
	<p>
		<div class="textbox2">
			<div class="container">
				<center>
					<h2>FLOW es hecho por gente como tú que cree en el valor de la comunidad de makers: los creadores de la ciudad.</h2>
					<p>
						<h3>Si tienes alguna idea o quieres ayudar a organizar el siguiente FLOW, ponte en contacto con nosotros.</h3>
					</p>
					<p>
						<h2>alberto@funkalab.com y rodrigo@funkalab.com</h2>
					</p>
					<p>
						<%= link_to '!Quiero ir a Flow!', 'http://flow.boletia.com', target: "_blank", class: 'btn btn-large btn-danger' %>
					</p>
					</p>
				</center>
			</div>
		</div>
	</p>
</div>
<div id="info">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
				<h3><a href="http://facebook.com/funkalab">facebook</a></h3>
			</div>
			<div class="span4">
				<h3><a href="http://twitter.com/funkalab">twitter</a></h3>
			</div>
			<div class="span4">
				<h3>hello@funkalab.com</h3>
			</div>
		</div>
	</div>
</div>

<!-- "Script to run the animation" -->

<script>
    $('#one').click(function() {
        $('#idea-2').removeClass('hide');
        $('#idea-1').addClass('hide');
    });

    $('#two').click(function() {
        $('#idea-3').removeClass('hide');
        $('#idea-2').addClass('hide');
    });

    $('#three').click(function() {
        $('#idea-4').removeClass('hide');
        $('#idea-3').addClass('hide');
    });

    $('#four').click(function() {
        $('#idea-5').removeClass('hide');
        $('#idea-4').addClass('hide');
    });

    $('#five').click(function() {
        $('#idea-6').removeClass('hide');
        $('#idea-5').addClass('hide');
    });

    $('#six').click(function() {
        $('#idea-7').removeClass('hide');
        $('#idea-6').addClass('hide');
    });

    $('#seven').click(function() {
        $('#idea-8').removeClass('hide');
        $('#idea-7').addClass('hide');
    });

    $('#eight').click(function() {
        $('#idea-9').removeClass('hide');
        $('#idea-8').addClass('hide');
    });

    $('#nine').click(function() {
        $('#idea-10').removeClass('hide');
        $('#idea-9').addClass('hide');
    });

    $('#ten').click(function() {
        $('#idea-11').removeClass('hide');
        $('#idea-10').addClass('hide');
    });

    $('#eleven').click(function() {
        $('#idea-12').removeClass('hide');
        $('#idea-11').addClass('hide');
    });

    $('#twelve').click(function() {
        $('#idea-1').removeClass('hide');
        $('#idea-12').addClass('hide');
    });

</script>


<!--Typography divider. Don't erase.!-->
</div>
<!--This one close the mirror created. Don't erase.!-->
<div class="container">




