<h1>FLOW - Products</h1>
	<p>
		Flow es un evento complétamente dedicado para que los creativos puedan trabajar, conectarse y producir algo valioso. Pensando en ellos hemos creado esta serie de productos de los cuales podemos hacer negocio y agregarles valor a ellos.div>
	</p>
<h2>

Beer Sponsor
	Qué es?
	Un patrocinador que regale un número finito de cheves
Food Stands

Talleres
	<p>Los Making Stations son una especie de talleres
		<p>Gratis</p>
		<p>Paga</p>

<h4>Goodies Bag</h2>
<p>
	Aquí la explicación de que pasa dentro del Tote Bag, cuántos espacios hay.
	<p>

Flow Shop
	Productos de creativos
	Si es un servicio, crear una especie de cupón

<h2>Amazing Creative Jobs</h2>
<h3>Aquí una frase para vender</h3>
	<p>
		Amazing Creative Jobs es un Newsletter especialmente creativos. Es enviado únicamente a aquellos creativos que al asistir a FLOW se registran. Los trabajos son mencionados por el rol y son enviados únicamente una vez.
	</p>
	<p>
		Procuramos que los trabajos sean lo mas genial posibles para nuestra comunidad así que si tu trabajo es ridículamente aburrido probablemente no agregue valor a ninguno de los dos.
	</p>
	<p>
		¿Por qué te conviene anunciarte en Amazing Creative Jobs? Bueno, es muy simple: aquí está la gente más talentosa, mas activa y más valiosa de la comunidad. Hay muchas formas de buscar trabajos pero aquí están los mejores: diseñadores, artistas, fotógrafos, arquitectos, músicos, cineastas, bloggers.
	<h3>¿Cuánto cuesta anunciarse en Amazing Design Jobs</h3>
	<p>
		Cuesta $350
	</p>
	<p>
		Solo hay 10 spots por evento
	</p>
	<p>
		Así es como se ve
	</p>
	<p>
		Te pedimos el título, nombre de tu compañía, si es full-time o freelancing, porque alguien querría trabajar contigo y un quote de alguna referencia de alguien que haya trabajado contigo y piense que es geneial.
	</p>


<h1>Patrocinador</h1>
	Un video antes
	Website
	Boletia
	Facebook
	Evento
	Video post evento

<h1>Flow Friends</h1>
	<p>Esta es una lista de amigos con la cual no intercambiamos económicamente, simplemente generamos valor el uno al otro porque creemos que podemos ayudarnos</p>