/* style.scss */
$blueish: #286989;
$greenflow: #1FE5C4; /*El color de abajo del mainbanner */
$mintflow: #B8E5C4; /*El color de arriba del mainbanner*/
$rosaranja: #FF7372;
$orangeflow: #FF4F45;
$mustardflow: #F0CC47;
$lightgray: #E6E6E6;
$lightestgray: #F2F2F2;
$newgreen: #A1FFE1;
$newblue: #25AAD7;

#mainbanner {
	box-shadow: 0px 0px 15px 0px $blueish;
	color: white;
	text-align: center;
	font-size: 36px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 820px;
	background: $newgreen; /* Old browsers */
	background: -moz-linear-gradient(top,  $newgreen 0%, $newblue 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$newgreen), color-stop(100%,$newblue)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $newgreen 0%,$newblue 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $newgreen 0%,$newblue 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $newgreen 0%,$newblue 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $newgreen 0%,$newblue 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$newgreen', endColorstr='$newblue',GradientType=0 ); /* IE6-9 */
}

#flowbg{
	background-image:url('linesanddots.png');
	max-width: 100%;
	height: 100%;
}

#mbcontent{
	padding: 240px 0 0 0;
}

.subtledots
{
	background-image: url('subtle_dots.png');
}

.workshop {
	background-image:url('workshops.png');
	height: 1093px;
	width: 100%;
	color: white;
}

.textbox {
	margin: 0 0 0 0;
	padding: 700px 0 0 0;
}

.textbox2 {
	padding: 240px 0 200px 0;
	margin: 0 auto;
}

.textbox3 {
	padding: 450px;
}

.network {
	background-image:url('poliedros1.png');
	width: 100%;
	height: 1185px;
}

.making {
	background: $blueish;
	color: white;
	max-height: 960px;
}

#makingbg {
	background-image:url('poliedros2.png');
	width: 100%;
	height: 1500px 100%;

}

#moreinfo {
	background-image:url('herramientas.png');
	color: $blueish;
	width: 100%;
	height: 702px;
}

.DarkTurquoise{
	color: DarkTurqoise;;
}

.makersday {
	font-family:Garamond, Georgia, serif;
	font-size: 52px;
	color: white;
	margin-top: 82px 0 0 0;
}

#que {
	background-image:url('verdeazul.png');
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 1350px;
	max-width: 100%;
}

#porque {
	background: $blueish; /* Old browsers */
	/*background: -moz-linear-gradient(top,  $mustardflow 0%, $orangeflow 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$mustardflow), color-stop(100%,$orangeflow)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  $mustardflow 0%,$orangeflow 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  $mustardflow 0%,$orangeflow 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  $mustardflow 0%,$orangeflow 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  $mustardflow 0%,$orangeflow 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mustardflow', endColorstr='$orangeflow',GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-align: center;
	font-size: 24px;
	box-shadow: 0px 0px 5px 0px #666;
	padding: 50px 0px 50px;
	text-shadow:1px 1px #666;
}

#actividades{
	margin: 0px 0px 0px 0px;
	padding: 200px 0px 200px 0px;
}

#como {
	margin: 0px 0px 0px 0px;
	padding: 100px 0px 200px 0px;
}

/*#talleres {
	background: $rosaranja;
	color: #fff;
	box-shadow: 15px 0px 15px 0px #888888;
	margin: 0px 0px 0px 0px;
	padding: 200px 0px 200px 0px;
}*/

#info {
	background: $blueish;
	color: #fff;
	margin: 0;
	padding: 80px 0 80px 0;
	text-transform: none;
	font-style: none;
}

#info a{
	background: $blueish;
	color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 0;
	text-transform: none;
	font-style: none;
}

#ejemplos{
	color: #fff;
	background: $newblue;
	text-align: center;
	padding: 200px;
	margin: 0 0 0 0;
	box-shadow: 0px 0px 15px 0px #888888;
}

.title
{
	text-align: center;
}

.littleline {
	border-top: 1px solid white;
	width: 240px;
	margin: 40px;
}

.garamond
{
	font-family:Garamond, Georgia, serif;
}

#blueish
{color: $blueish
}

.bigtypo
{
	font-size: 52px;
}

.square
{
	margin: 1px;
	padding: 1px;
	border:2px solid white;
}

/*font-family: DecimaMono-Light, Helvetica, Arial, sans-serif;*/
.armata
{
	font-family: 'Armata', sans-serif;
}

.itinerario
{
	background: $lightestgray;
	margin: 1px;
	padding: 12px;
	border:2px solid $lightgray;
}

.itinerario2
{
	background: #fff;
	margin: 1px;
	padding: 12px;
	border:2px solid $lightgray;
}

#translucentbanner{
	background-size: $blueish;
	z-index: -1;
	padding: 10px;
	margin: 0 auto;
}

.sabado {
	margin: 0 auto;
	padding: 150px 0 150px 0;
}
/* The slider of Lentes */


.show {
	opacity: 1 !important;
}

.hide {
	opacity: 0 !important;
}

a.blueish{
	color: $blueish;
}

.albertoyrodrigo {
	margin:70px 0 70px 0;
	color: DarkTurquoise;
}

.bluebar {
	background: $blueish;
	color: white;
	padding: 180px 0 180px 0;
	margin: 0 auto;
}

.date {
	padding: 50px 0 50px 0;
	color: DarkTurqoise;
}